body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 'Trebuchet MS';
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  margin-left: 2.55556%;
}

.checkbox-label .text {
  clear: both;
  margin-top: -17px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container .container {
  float: left;
}

.element {
  float: left;
}

.text {
  float: left;
}

.text-1 p,
.text-7 p,
.text-8 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  height: 25px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: rgb(255, 1, 11);
  font-style: italic;
  font-size: 1.063em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:active,
._button:hover {
  background-color: rgb(255, 59, 67);
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 20;
  width: 17%;
  margin: -74px 0 0 66.66493%;
  padding: 0 10px;
  background-color: rgb(255, 1, 11);
  font-size: 0.813em;
  color: rgb(255, 255, 255);
}

._input:hover {
  background-color: rgb(175, 9, 16);
}

._input:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(175, 9, 16);
}

.checkbox-2 {
  position: relative;
  z-index: 25;
  margin-left: 2.55556%;
}

.checkbox-label-1 {
  clear: both;
  z-index: 24;
  width: 3%;
  margin-top: -31px;
}

.checkbox-label-2 {
  clear: both;
  z-index: 26;
  width: 3.8888888888%;
  height: 22px;
  margin-top: -26px;
}

.checkbox-label-3 {
  z-index: 30;
  width: 3.8888888888%;
  height: 25px;
  margin-top: 5px;
}

.container-1 {
  width: 900px;
  height: 1685px;
  margin: 12px auto 0;
}

.container-2 {
  width: 100%;
  height: 186px;
  margin-top: -20px;
  background-image: url('../images/marvelstudioslogo%20(1).jpg');
  background-repeat: repeat-x;
  background-size: 701px 311px;
  background-position: center center;
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 6;
  width: 95.25%;
  height: 40px;
  margin: 9px 0 0 1.25%;
  border: 4px double rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(175, 9, 16);
}

.container-4 {
  position: relative;
  z-index: 16;
  width: 21.2222222222%;
  height: 225px;
  margin: 24px 0 0 3.51042%;
  background-image: url('../images/689066.jpg');
  background-size: cover;
  background-position: center center;
}

.container-5 {
  width: 100%;
  height: 161px;
  margin-top: 26px;
  background-color: rgb(175, 9, 16);
}

.element-1 {
  clear: both;
  width: 217px;
  height: 359px;
  margin: 16px 0 0 -7.10001%;
  background: url('../images/doctor-strange-286x400.png') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: left top;
}

.element-2 {
  position: relative;
  clear: both;
  z-index: 14;
  width: 23%;
  height: 270px;
  margin: -309px 0 0 27.86111%;
  background: url('../images/61237.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.element-3 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 21.1111111111%;
  height: 317px;
  margin: -474px 0 0 83.63889%;
  background: url('../images/Hulk_Portrait_Art.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-4 {
  position: relative;
  clear: both;
  z-index: 11;
  width: 33.125%;
  height: 279px;
  margin: 124px 0 0 -8.77431%;
  background: url('../images/%D0%91%D0%B5%D0%B7%20%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F%20(1).jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 96% auto;
  background-position: left top;
}

.element-5 {
  position: relative;
  z-index: 18;
  width: 27.3333333333%;
  height: 266px;
  margin-left: 24.3316%;
  background: url('../images/61361.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-6 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 25.3749999999%;
  height: 457px;
  margin: -669px 0 0 79.375%;
  background-image: url('../images/%D0%91%D0%B5%D0%B7%20%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F.jpg');
  background-repeat: no-repeat;
  background-size: 264px auto;
  background-position: 11% 27%;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 44.2222222222%;
  height: 301px;
  min-height: 430px;
  margin: 33px 0 0 27.86111%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-10 {
  clear: both;
  margin-left: 6.125%;
  font-size: 1.188em;
  color: rgb(255, 255, 255);
}

.text-2 {
  position: relative;
  z-index: 19;
  width: 28%;
  margin: -139px 0 0 66.66667%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-3 {
  position: relative;
  z-index: 21;
  width: 23.7777777777%;
  min-height: 84px;
  margin-left: 2.55556%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-4 {
  width: 105.2631578947%;
  margin-left: 121.00694%;
}

.text-5 {
  width: 374.2857142857%;
  margin-left: 100%;
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 27;
  margin: -44px 0 0 6.44271%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  z-index: 15;
  width: 30.4444444444%;
  margin: -164px 0 0 27.86111%;
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 17;
  width: 30.4444444444%;
  margin: -142px 0 0 27.86111%;
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-9 {
  width: 18.875%;
  min-height: 1px;
  margin: 32px 0 0 2.75%;
  font-size: 1.625em;
  color: rgb(255, 255, 255);
}

.container ._button-1 {
  position: relative;
  z-index: 5;
  width: 17.374005305%;
  margin-left: 2.76899%;
}

.container ._button-2 {
  width: 30.6366047745%;
  margin-left: 2.76899%;
}

.container ._button-3 {
  width: 21.8832891246%;
  margin-left: 2.11768%;
  border: 2px solid rgb(255, 179, 179);
}

.container ._button-4 {
  width: 17.1087533156%;
  margin-left: 2.91802%;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(71, 58, 58);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(175, 9, 16);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}